<h1><%= @petition.title %></h1>

<%= link_to 'Edit this petition', edit_petition_path(@petition) if current_admin_user %>

<% if notice.present? %><p id="notice"><%= notice %></p><% end %>

<div class="petition">
  <%= @petition.body.html_safe %>

  <div class="letter">
    <%= @petition.letter.try(:html_safe) %>

    <%= form_tag petition_signatures_path(@petition) do %>
      <div>
        <%= text_field_tag :name, nil, placeholder: "Your name", id: "signature_name" %>
        <%= submit_tag "Sign" %>
      </div>
      <div>
        <%= check_box_tag 'show_name' %> Can we display your name? <i>(If not, we'll use "Anonymous".)</i>
      </div>
    <% end %>
  </div>

  <div class="signatures">
    <% if @petition.total_signatures.zero? %>
      No signatures yet!
    <% else %>
      <p><%= pluralize(@petition.total_signatures, "signature") %> so far!</p>

      <%= render @petition.signatures.where('signatures.created_at > ?', 1.week.ago).reverse %>
    <% end %>
  </div>

</div>


